/* Styles for message content container */
.message-content-container {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px ridge rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
  }
  
  /* Styles for reply container */
  .reply-container {
    display:block;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding: 10px 25px;
    margin-bottom: 1px;
    font-style: italic;
  }
  
  /* Styles for reply actions */
  .reply-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .reply-actions a,
  .reply-actions button {
    visibility: hidden;
  }
  
  .reply-actions:hover a,
  .reply-actions:hover button {
    visibility: visible;
  }

  .actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .delete-link {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
  