<div id="<%= dom_id project %>">
    <p>
    <strong>Project title:</strong>
    <%= project.project_title %>
  </p>

  <p>
    <strong>Project content:</strong>
    <%= project.project_content %>
  </p> 
 