<h1>Edit Reply</h1>

<%= form_with(model: [@message, @reply], url: message_reply_path(@message, @reply), method: :patch) do |form| %>
  <div class="form-group">
    <%= form.text_area :content, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Update", class: "btn btn-primary" %>
  </div>
<% end %>
